#developersPage, #projectsPage{
    margin: 0 100px;
}

#developersPageTitle, #projectsPageTitle {
    margin-top: 50px;
    text-align: center;
    font-size: 48px;
    font-family: "Pretenderd";
    font-family: "PretendardVariable";
    font-weight: bold;
}

#list {
    display: grid;
    grid-template-columns: repeat(auto-fill, 250px);
    gap: 80px;
    place-items: center;
    justify-content: center;
}

@media all and (max-width: 1000px) {
    #list {
        justify-content: center;
    }
}
