@media all and (min-width: 1200px) {

    #pageContainer {
        display: flex;
        margin: 30px;
        margin-top: 60px;
        max-width: 1600px;
    }

    #rightContainer {
        
    }

    #contact {    
        display: inline-block;
        font-size: 36px;
        font-weight: bold;
    }

    #email {
        display: inline-block;
        font-size: 32px;
        font-weight: middle;
    }

    #imageContainer {
        float: left;
        width: 400px;
        height: 800px;
        padding: 30px;
    }

    #developerContainer {
        max-width: 800px;
        min-height: 360px;
        padding: 30px;
    }

    #developerImage {
        display: block;
        background-color: gray;
        width: 400px;
        height: 400px;
    }

    #developerName {
        font-size: 36px;
        font-weight: bold;
        margin-top: 20px;
    }

    #developerNameEng {
        font-size: 32px;
        font-weight: bold;
        margin-top: 6px;
    }

    #impression {
        font-size: 24px;
        margin-top: 30px;
        line-height: 2em;
    }

    #projectLink {
        text-decoration: none;
        color: white;
    }

    #projectContainer {
        float: left;
        padding: 30px;
        margin-bottom: 50px;
    }

    #projectLeftContainer {
        min-width: 300px;
    }

    #project {
        font-size: 36px;
        font-weight: bold;
    }

    #projectName {
        font-size: 24px;
        margin: 20px 0;
    }

    #projectImage {
        float: left;
        display: block;
        background-color: gray;
        width: 300px;
        height: 300px;
    }
}

@media all and (max-width: 1200px) and (min-width: 768px) {
    #pageContainer {
        margin-top: 60px;
    }

    #rightContainer {
        text-align: center;
    }

    #contact {    
        font-size: 24px;
        font-weight: bold;
    }

    #email {
        display: inline-block;
        font-size: 16px;
        font-weight: middle;
        margin-top: 10px;
    }

    #imageContainer {
        text-align: center;
        padding: 30px;
    }

    #developerContainer {
        padding: 30px;
    }

    #developerImage {
        background-color: gray;
        width: 400px;
        height: 400px;
    }

    #developerName {
        display: inline-block;
        font-size: 24px;
        width: 100%;
        font-weight: bold;
        margin-top: 50px;
    }

    #developerNameEng {
        display: inline-block;
        font-size: 20px;
        font-weight: bold;
        margin-top: 10px;
    }

    #impression {
        margin: auto;
        max-width: 800px;
        text-align: center;
        font-size: 20px;
        margin: 80px auto;
        line-height: 2em;
    }

    #projectLink {
        text-decoration: none;
        color: white;
        margin: 60px;
    }

    #projectContainer {
        text-align: center;
        padding: 30px;
        display: flex;
        max-width: 55%;
        margin: 0 auto;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    #projectLeftContainer {
        min-width: 55%;
    }

    #project {
        font-size: 24px;
        font-weight: bold;
    }

    #projectName {
        font-size: 18px;
        margin-top: 20px;
    }

    #projectImage {
        display: block;
        background-color: gray;
        width: 400px;
        height: 400px;
    }
}


@media all and (max-width: 768px) {
    #pageContainer {
        margin-top: 60px;
    }

    #rightContainer {
        text-align: center;
    }

    #contact {    
        
        font-size: 24px;
        font-weight: bold;
    }

    #email {
        display: inline-block;
        font-size: 16px;
        font-weight: middle;
        margin-top: 10px;
    }

    #imageContainer {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0 auto;
        text-align: center;
        padding: 30px;
        max-width: 400px;
    }

    #developerContainer {
        padding: 30px;
    }

    #developerImage {
        background-color: gray;
        width: 400px;
        height: 400px;
    }

    #developerName {
        font-size: 24px;
        width: 100%;
        font-weight: bold;
        margin-top: 50px;
    }

    #developerNameEng {
        font-size: 20px;
        font-weight: bold;
        margin-top: 10px;
    }

    #impression {
        margin: auto;
        max-width: 800px;
        text-align: center;
        font-size: 14px;
        margin: 80px auto;
        line-height: 2em;
    }

    #projectLink {
        text-decoration: none;
        color: white;
        margin: 60px;
    }

    #projectContainer {
        text-align: center;
        padding: 30px;
        display: flex;
        max-width: 55%;
        margin: 0 auto;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    #projectLeftContainer {
        min-width: 55%;
    }

    #project {
        font-size: 24px;
        font-weight: bold;
    }

    #projectName {
        font-size: 18px;
        margin-top: 20px;
    }

    #projectImage {
        display: block;
        background-color: gray;
        width: 400px;
        height: 400px;
    }
}
