.devList{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.devCard{
    margin: 50px;
    align-items: center;
    text-align: center;
    font-family: "PretendardVariable";
    font-weight: bold;
    font-size: 24px;
}

.devPofile{
    width: 250px;
    height: 250px;
    background-color: #D9D9D9;
}