@media all and (max-width:1200px) {
    #menulist{
        font-size: 24px;
    }

    #toggleImage{
        width: 35px;
        height: 35px;
        margin-right: 28px;
        margin-top: 24px;
    }

    #toggleExitImage{
        width: 28px;
        height: 30px;
        margin-right: 30px;
        margin-top: 30px;
        margin-left: auto;
    }

    
    #navbarLogo{
        margin-left: 28px;
        font-size: 32px;
    }

    #footer {
        flex-direction: column;
        text-align: center;
        align-items: center;
        font-size: 15px;
    }

    #footerButton{
        margin-top: 3vh;
        font-size: 15px;
    }

    #footerContent {
        margin: auto;
        padding-left: 10%;
        padding-right: 10%;
    }
}

@media all and (min-width:980px) and (max-width:1200px) {
    #menulist{
        font-size: 30px;
    }

    #toggleImage{
        width: 40px;
        height: 40px;
        margin-right: 38px;
        margin-top: 24px;
    }

    #toggleExitImage{
        width: 32px;
        height: 35px;
        margin-right: 40px;
        margin-top: 30px;
        margin-left: auto;
    }

    #navbarLogo{
        margin-left: 38px;
        font-size: 34px;
    }
}

@media all and (min-width:1200px) {
    #menulist{
        font-size: 36px;
    }

    #toggleImage{
        width: 45px;
        height: 45px;
        margin-right: 48px;
        margin-top: 24px;
    }

    #toggleExitImage{
        width: 38px;
        height: 40px;
        margin-right: 50px;
        margin-top: 30px;
        margin-left: auto;
    }

    #navbarLogo{
        margin-left: 48px;
        font-size: 36px;
    }

    #footer{
        font-size: 20px;
    }

    #homepageLink{
        margin-left: auto;
    }

    #footerButton {
        margin-left: auto;
        margin-right: 53px;
        font-size: 20px;
    }

    #footerContent {
        margin-left: 48px;
    }
    
}

#navbar{
    align-items: center;
    background: none;
    width: 100%;
    height: 100%;
}

#navbarLogo{
    font-family: "ButlerRegular";
    margin-top: 24px;
}

#navberContent{
    display: flex;
}

#toggle{
    margin-left:auto;

}

#exitBtn{
    display: flex;
}

#menulist{
    display: none;
    font-family: "PretendardVariable";
    font-weight: bold;
    flex-direction: column;
    background-color: black;
    position: fixed;
    z-index: 9999;
    top: 0;
    right: 0;
}

#toggleListWrap{
    display: flex;
    justify-content:center;
    align-items:center;
}

#toggleMenu{
    list-style: none;
    margin-right: 53px;
}

#toggleItem{
    margin-bottom: 5vh;
}

#navLink{
    text-decoration: none;
    color: #FFFFFF;
}

#footer{
    display: flex;
    width: 100%;
    height: 100%;
    font-family: "PretendardVariable";
    font-weight: bold;
    padding-bottom: 30px;
    margin-top: 100px;
    margin-bottom: 25px;
}

#footerButton {
    font-family: "PretendardVariable";
    font-weight: bold;
    background: none;
    color: #FFFFFF;
    border: 4px solid #FFFFFF;
    border-radius: 40px;
    width: auto;
    height: auto;
    padding: 0.5em 2em 0.5em 2em;
    cursor: pointer;
}

#footerButton:hover{
    background-color: #FFFFFF;
    color: black;
}