/* @font-face {
  font-family: "PretendardVariable";
  src: url("../fonts/PretendardVariable.ttf");
} */

.projectsdetail {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 5%;
}

.project-title {
  color: #FFFFFF;
  font-family: 'PretendardVariable';
  font-weight: bold;
}

.team-title {
  color: #FFFFFF;
  font-family: 'PretendardVariable';
}

.project-content {
  color: #FFFFFF;
  font-family: 'PretendardVariable';
}
